/* ligth theme */
:root {
    --bg-main-color: rgb(255, 255, 255);
    --bg-secondary-color: rgba(142, 198, 255, 0.655);
    --main-text-color: #2d2e32;
    --hover-text-color: rgb(0, 191, 255);
    --secondary-text-color: #767676;
    --wave-image: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
}

/* dark theme */
body.dark {
    --bg-main-color: #212529;
    --bg-secondary-color: rgba(74, 74, 74, 0.655);
    --main-text-color: #ffffff;
    --hover-text-color: rgb(0, 140, 255);
    --secondary-text-color: #d9d8d8;
    --wave-image: url(https://i.imgur.com/LTQ0bCw.png)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-main-color);
}

nav {
    background-color: var(--bg-main-color);
    font-size: 14px;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 25px 40px 25px 50px;
    box-shadow: 0px 0px 10px var(--bg-secondary-color);
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    z-index: 9999;
}

.title {
    color: var(--main-text-color);
    margin-bottom: 0;
    font-weight: 800;
    cursor: pointer;
}


.overview_section {
    background-color: var(--bg-secondary-color);
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    gap:5rem;
    width: 100%;
    justify-content: left;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.main_content {
    align-items: center;
    display: flex;
    gap: 10rem;
    width: auto;
    justify-content: center;
    position: relative;
}
.skills_logos {
    display: flex;
}

.main_content_text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.main_content_image {
    position: relative;
    background-image: url(https://media.discordapp.net/attachments/1016339569253298177/1203814757942169710/IMG_20230803_200649_Original.jpg?ex=65d276dc&is=65c001dc&hm=a49d4232a46160417eb1d52a9649da770fd0aebc31e401d0ed2dde3293cf8936&=&format=webp&width=474&height=634);
    width: 35rem;
    height: 35rem;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 10px 20px rgba(83, 152, 255, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.main_content_image:hover {
    width: 45rem;
    height: 45rem;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.main_content_text h1 {
    color: var(--main-text-color);
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main_content_text p {
    overflow: hidden;
    color: var(--secondary-text-color);
    font-family: poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.teck_stack_content {
    align-items: center;
    bottom: 0;
    color: var(--secondary-text-color);
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

.teck_stack_content p {
    border-bottom: 0px;
    border-right: 3px solid var(--main-text-color);
    color: var(--main-text-color);
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.teck_stack_content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.teck_stack_content ul li {
    cursor: pointer;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about_section {
    padding: 15rem 0;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.about-text-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-text-content h3 {
    font-family: poppins;
    font-weight: 800;
    color: var(--hover-text-color)
}

.about-text-content h1 {
    color: var(--main-text-color);
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
}


.about-text-content p {
    color: var(--secondary-text-color);
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

.about-image-content {
    display: flex;
}

.about-image-content img {
    border-radius: 25%;
    width: 30rem;
    height: 30rem;
}


.air-content {
    position: relative;
    height: 10rem;
    width: 100%;
}

.air {
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 10rem;
    background-image: var(--wave-image);
    background-size: 100rem 10rem
}

.air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 1rem;
}

.air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 1.5rem;
}

.air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 2rem;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 100rem;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -100rem;
    }
}


#hide-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
}

.toggle {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    background: #211042;
    border-radius: 1.5rem;
    transition: 500ms;
    overflow: hidden;
}

.toggle-button {
    position: absolute;
    display: inline-block;
    top: .21rem;
    left: .18rem;
    width: 2.58rem;
    height: 2.58rem;
    border-radius: 50%;
    background: #FAEAF1;
    overflow: hidden;
    box-shadow: 0 0 1.05rem .121rem rgba(255, 255, 255);
    transition: all 500ms ease-out;
}

@keyframes travel {
    0% {
        transform: rotate(-45deg) translateX(2.1rem);
    }

    50% {
        transform: rotate(-45deg) translateX(-.6rem);
        box-shadow: .15rem 0px .18rem .03rem #FFF;
    }

    100% {
        transform: rotate(-45deg) translateX(-.9rem);
        width: .06rem;
        height: .06rem;
        opacity: 0;
        box-shadow: none;
    }
}

#hide-checkbox:checked+.toggle {
    background: #24D7F7;
}

#hide-checkbox:checked+.toggle .toggle-button {
    background: #F7FFFF;
    transform: translateX(3.06rem);
    box-shadow: 0 0 1.05rem .15rem rgba(255, 255, 255);
}

@keyframes move {
    0% {
        transform: none;
    }

    25% {
        transform: translateX(0.06rem);
    }

    100% {
        transform: translateX(-0.06rem);
    }
}

.about-links {
    display: flex;
    gap: 2rem;
}

.about-links a svg path {
    fill: var(--main-text-color);
}

.about-links a svg:hover path {
    cursor: pointer;
    fill: var(--hover-text-color);
}

@media (max-width: 900px) {

    .overview_section > .container {
        margin-top: 10rem;
    }

    .content  {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .main_content {
        flex-direction: column-reverse;
        gap: 2rem;
        height: auto;
        text-align: center;
    }
    .main_content_image {
        width: 25rem;
        height: 25rem;
    }
    .teck_stack_content {
        flex-direction: column;
        position: static;
        margin-bottom: 2rem;
    }
    .about-content {
        align-items: center;
        flex-direction: column;
    }

    .about-text-content img {
        width: 20rem;
        height: 20rem;
    }

    .about-image-content img {
        width: 20rem;
        height: 20rem;
    }

    .teck_stack_content p {
        margin-right: 0px;
        margin-bottom: 5rem;
        padding-bottom: 10px;
        padding-right: 0px;
        border-bottom: 3px solid var(--main-text-color);
        border-right: 0px;
    }


    .about-text-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .about-text-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .about-text-content h3 {
        font-family: poppins;
        font-weight: 800;
        color: var(--hover-text-color);
        text-align: center;
    }
    
    .about-text-content h1 {
        color: var(--main-text-color);
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2;
    }
    
    
    .about-text-content p {
        text-align: center;
        max-width: 50rem;
    }
    
    .about-text-content h1 {
        color: var(--main-text-color);
        text-align: center;
    }
    .about-links {
        align-items: center;
        justify-content: center;
    }

    .air {
        height: 5rem;
        background-size: 50rem 5rem
    }

    .skills_logos img {
        content: url("https://skillicons.dev/icons?i=nodejs,js,express,ts,kotlin,py,discord,nextjs,react,cpp,docker,lua,linux,mongodb,postgres,mysql,git,github&perline=4");
    }
    
    @keyframes wave {
        0% {
            background-position-x: 0px;
        }
    
        100% {
            background-position-x: 50rem;
        }
    }
    
    @keyframes wave2 {
        0% {
            background-position-x: 0px;
        }
    
        100% {
            background-position-x: -50rem;
        }
    }
}